<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>Javaweb_shiyan</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>login.html</welcome-file>
    <welcome-file>login.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>show.html</welcome-file>
    <welcome-file>show.htm</welcome-file>
    <welcome-file>show.jsp</welcome-file>
    <welcome-file>update.html</welcome-file>
    <welcome-file>update.htm</welcome-file>
    <welcome-file>update.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>com.Javaweb_shiyan.Servlet.RegServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FindServlet</servlet-name>
    <servlet-class>com.Javaweb_shiyan.Servlet.FindServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.Javaweb_shiyan.Servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/Reg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FindServlet</servlet-name>
    <url-pattern>/Find</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/Update</url-pattern>
  </servlet-mapping>
</web-app>